.all-card-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

@media screen and (min-width: 768px) {
    .all-card-container {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (min-width: 1024px) {
    .all-card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (min-width: 1200px) {
    .all-card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}

@media screen and (min-width: 1400px) {
    .all-card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    
}

@media screen and (min-width: 1600px) {
    .all-card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }   
}

@media screen and (min-width: 1800px) {
    .all-card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
    