.all-vids-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 30px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(246, 246, 246);
    padding-top: 25px;
}

@media (min-width: 600px) {
    .all-vids-container {
        grid-template-columns:  1fr 1fr;
    }
}

@media (min-width: 900px) {
    .all-vids-container {
        grid-template-columns:  1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .all-vids-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1500px) {
    .all-vids-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
.vid-container {
    width: 100%;
}

.thumbnail-container {
    position: relative;
}

.thumbnail {
    width: 100%;
}

.time {
    position: absolute;
    right: 8px;
    bottom: 10px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    font-size: 14px;
    padding: 3px 3px 3px 3px;

}

.vid-title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}

.vid-info {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 30px 1fr;
}

.channel-pic {
    width: 30px;
    vertical-align: top;
    display: inline-block;
    position: relative;
}

.channel-info {
    position: absolute;
    bottom: -16px;
    width: 200px;
    height: 60px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(142, 142, 142, 0.7);
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 150ms;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-pic:hover .channel-info {
    opacity: 1
}

.other-info {
    padding-left: 5px;
}

.vid-desc {
    flex: 1;
    margin-left: 5px;
    
}

.profile-pic {
    width: 30px;
    border-radius: 50%;
}

.vid-author,
.views-date {
    color: rgba(0,0,0,0.7);
    font-size: 14px;
}

.hover-profile-pic-div {
    width: 50px;
    padding: 5px 5px 5px 5px;
}

.hover-profile-pic {
    width: 40px;
    border-radius: 50%;
}



