.card {
    box-sizing: border-box;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    margin: 0;
    max-width: 400px;
    
}

.div-img {
    flex: 1;
    text-align: center;
}

.card-img {
    width: 100%;
    max-height: 100%;
    background-size: contain;
    box-sizing: border-box;
    padding: 10px;
    object-fit: contain;
}
.card-text {
    height: 80px;
}

.card-name {
    height: 40px;
    font-size: 30px;
    
}

.card-price {
    height: 30px;
    font-size: 24px;
}

.card-name, .card-price {
    margin-left: 10px;
}

.card-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.card-icon {
    display:flex;
}

.btn-icon {
    box-sizing: border-box;
    height: 80%;

}
.img-icon {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
    box-sizing: border-box;
    padding: 10px;
    object-fit: contain;
}

