.home-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    box-sizing: border-box;
    padding: 10px;
}

@media screen and (min-width: 600px) {
    .home-container {
        grid-template-columns: 1fr 1fr; 
    }
}

@media screen and (min-width: 1400px) {
    .home-container {
        grid-template-columns: 1fr 1fr; 
    }
    
}

@media screen and (min-width: 1800px) {
    .home-container {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
    
}
@media screen and (min-width: 2200px) {
    .home-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    }
    
}