.movie-container {
    width: 300px;
    height: 400px;
    background-color: lightblue;
}

.movie-pic {
    height: 320px;
    box-sizing: border-box;
}

.movie-desc {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-title {
    font-weight: bold;
    font-size: 24px;
    flex-wrap: wrap;
    display: flex;
}

.movie-date {
    box-sizing: border-box;
    margin-bottom: 10px;
}


