.movie-container {
    width: 300px;
    height: 500px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.movie-pic {
    height: 450px;
    box-sizing: border-box;
}

.movie-img {
    width: 300px;
}

.movie-desc {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}

.movie-title {
    font-weight: bold;
    font-size: 24px;
    flex-wrap: wrap;
    display: flex;
}

.movie-date {
    box-sizing: border-box;
    margin-bottom: 10px;
    font-weight: 700;
}


