.movie-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 30px;
    margin-top: 20px
}

@media screen and (min-width: 600px) {
    .movie-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .movie-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1400px) {
    .movie-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1800px) {
    .movie-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 2200px) {
    .movie-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}