.shadow-input {
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    width: 600px;
    border: none;
    box-shadow: 0px 0px 5px rgba(96,96,96,0.5);
    border-radius: 28px;
    padding-left: 20px;
    text-align: center;
}

.spacing {
    margin-top: 20px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

.cat {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    vertical-align: middle;
}

.text-tweet {
    vertical-align: middle;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}


.btn-tweet {
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(0, 179, 255);
    border: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 18px;
}

.btn-tweet:hover {
    opacity: 0.5;
}

.profile-container {
    border-style: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    width: 100%;
}

.profile-pic {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.name {
    font-weight: bold;
    
}

.friend {
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 10px;
    color: rgba(96,96,96,0.8)
}

.add-btn {
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background-color: rgb(0, 68, 255);
    color: white;
    border-radius: 5px;
}

.google {
    text-align: center;
    border-style: none;
}

.google-pic {
    align-items: center;
}

.btn-container {
    border-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.google-btn {
    background-color: rgb(235, 235, 235);
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px
}

.grid-container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    align-items: center;
    column-gap: 20px;
    
}

.profile-desc {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}