.round-input {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border-width: 1px;
}

.shadow-input {
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    width: 600px;
    border: none;
    box-shadow: 0px 0px 3px rgba(96,96,96,0.5);
    border-radius: 28px;
    padding-left: 20px;
}

.spacing {
    margin-top: 20px;
}

.cat {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    vertical-align: middle;
}

.text-tweet {
    vertical-align: middle;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}


.btn-tweet {
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(0, 179, 255);
    border: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 18px;
}

.btn-tweet:hover {
    opacity: 0.5;
}

